<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="MovieRama Application that consumes Rotten Tomatoes API">
    <meta name="author" content="Athanasios Eleftheriadis">
    <link rel="icon" href="./favicon.ico">

    <title>MovieRama</title>

    <!-- Material Design fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="./dist/css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MovieRama</a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" id="search-input" placeholder="Search">
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="container" id="movieContainer">

    </div>

    <script type="text/html" id="movie-details-template">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Details</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-2">
              <h4 class="text-primary">Genres</h4>
              <% _.each( moviedetail.genres, function( genre ){ %>
                <span><%- genre %>&nbsp;</span>
              <% }); %>
            </div>
            <div class="col-md-2">
              <h4 class="text-primary">Director</h4>
              <% _.each( moviedetail.abridged_directors, function( director ){ %>
                <span><%- director.name %></span>
              <% }); %>
            </div>
            <% if(moviedetail.movies.length>0){ %>
              <div class="col-md-8">
                <h4 class="text-primary similar-title-spacing">Similar Movies</h4>
                <ol>
                  <% _.each( moviedetail.movies, function( similar ){ %>
                    <li><%- similar.title %></li>
                  <% }); %>
                </ol>
              </div>
            <% } %>
            <% if(moviedetail.reviews.length>0){ %>
              <div class="col-md-12">
                <div class="row">
                  <hr/>
                  <div class="list-group">
                    <h4 class="col-md-12 text-primary">Reviews</h4>
                    <% _.each( moviedetail.reviews, function( review ){ %>
                      <div class="list-group-item">
                        <div class="row-content">
                          <h4 class="list-group-item-heading">By <em><%- review.critic %></em> at <em><%- review.date %></em></h4>
                          <p class="list-group-item-text"><%- review.quote %> </p>
                          <span>Published by: <%- review.publication %></span>
                          <a href="<%- review.links.review %>">Original source</a>
                        </div>
                      </div>
                      <div class="list-group-separator"></div>
                    <% }); %>
                  </div>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      </div>

    </script>

    <script type="text/html" id="movie-template">
      <% if (movies.array.length === 0) { %>
        <h2>No results. Try something different</h2>
      <% } else { %>
        <h2><%- movies.title %></h2>
        <% _.each( movies.array, function( movie ){ %>

            <div class="row row-spacing" data-id="<%- movie.id %>">
              <div class="col-md-1">
                <img class="center-block img-responsive img-spacing" src="<%- movie.posters.original %>" />
              </div>
              <div class="col-md-11">
                <h4><a class="js-show-details" href="#<%- movie.id %>"><%- movie.title %></a> <span class="badge"><%- movie.year %></span> </h4>
                <span class="label label-default"><%- movie.runtime %> m </span> &nbsp;
                <span class="label label-primary"><%- movie.ratings.critics_score %> %</span>
                &nbsp;
                <% _.each( _.first(movie.abridged_cast,3), function( cast,key ){ %>
                  <% if ( key < 2 ){ %>
                    <span><%- cast.name %>, &nbsp;</span>
                  <% } else {%>
                    <span><%- cast.name %></span>
                  <% } %>
                <% }); %>
                <% if (movie.synopsis.length>0) { %>
                  <p class="synopsis"><%- movie.synopsis %></p>
                <% } %>
              </div>
              <div id="<%- movie.id %>" class="movie-details col-md-12">
              </div>
            </div>

        <% }); %>
      <% } %>


    </script>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./dist/js/build.js"></script>
  </body>
</html>
