.row-spacing{
  padding:10px 0;
}

.img-spacing{
  padding-top:10px;
}

.synopsis{
  margin-top: 10px;
  border-top: 1px solid #337ab7;
  padding-top: 5px;
}

.similar-title-spacing{
  padding-left: 25px;
}
